<%if Helper.is_logged_in?(session) == true%>
  Hi, <%=Helper.current_user(session).username%>
  <br></br>
  <a href='/users/logout'>Logout</a>
<%else%>
  Sorry, you need to be logged in to view this page.
  <a href='/login'>Log in</a> or <a href='/sign-up'>Sign up</a>
<%end%>
